<% content_for :title do %>About<% end %>
<h3>About Griffin The Intern</h3>
<p> Griffin is a sophomore at UCLA School of Engineering. </p>
<p> He enjoys the simple things in life: taking notes, getting coffee and other intern activities. </p>
<img src="/Griff.jpg" alt="Portrait" style="width:250px;height:300px;">
