<% content_for :title do %>mission<% end %>
<h3>Mission</h3>
<img src="/summer.jpg" alt="Portrait" style="width:500px;height:300px;">
<p> This app was built from scratch to mimic the functions of a rails composer starter appication in order to learn the basics of the framework. </p>

